.container{
    display: grid;
    grid-template-columns: 10fr 2fr;
    height: 100vh;
    background-color: bisque;
}

.aside{
    background-color: aqua;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding: 16px; */
    background-color: aliceblue;
}
.logo{
    margin: 16px;
}
.main{
    display: grid;
    grid-template-rows: 1fr 11fr;
}
.section{
    display: grid;
    grid-template-areas: 'a1 a2 a3'
                        'a1 a4 a3';
}

.article1{
    grid-area: a1;
}
.article2{
    grid-area: a2;
}
.article3{
    grid-area: a3;
}
.article4{
    grid-area: a4;
    background-color: blue;
}
