.container{
    height: 50vh;
    margin-bottom: 8px;
    background-color: #ccc;
}

.div{
    width: 72px;
    height: 72px;
    border: 1px solid;
}

.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 4fr;
}
